extends ../layout

block content
  br
  br
  #inline
    each article in allArticles
        table
            thead(style='background-image: url(' + article.url  +');')
                tr
                if article.colors === "checked"
                  th 
                    a(href="/more/" + article._id, style='color: white')= article.name
                else 
                  th
                    a(href="/more/" + article._id, style='color: black')= article.name

            tbody
                tr
                  td= article.excerpt
                  hr
                
              
              
                        
  

  #inline
    h1= title
    p Welcome to #{title}

    a(href="/new") Create New Article
